<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    <h1>{{pageTitle}}</h1>
    <p>Some text</p>
  </body>
  <footer>
    Copyright {{currentYear}}
  </footer>
</html>
